Requirements for House Hunt
Virginia Mulky
CS 1699 Deliverable 5

FUN-BUDGET - A user should be able to enter a budget for the buyer

FUN-CREDIT - A user should be able to enter a credit score for the buyer

FUN-INVALID-INPUT - If a player enters a value that is out of bounds or otherwise invalid, the system shall respond with the phrase "Invalid input" Valid inputs are numbers.

FUN-COMMAND-PROMPT - At each stage of the game, the user will be prompted with command options and the appropriate input.

FUN-HOUSE-OPTIONS - The player will be presented with three houses from which to choose.

FUN-HOUSE-SELLER - Each house has a seller.

FUN-HOUSE-DESCRIPTION - Each house has a description.

FUN-HOUSE-APPRAISAL - Each house has an appraised value.

FUN-HOUSE-INSPECTION - Each house has an inspection result.

FUN-SELLER-VALUE - Each house has a value below which the seller will not sell.

FUN-SELLER-COUNTER- Seller can counter a buyer offer.

FUN-SELLER-ACCEPT - Seller can accept a buyer offer.

FUN-BUYER-OFFER - Buyer can make an offer on a house.

FUN-BUYER-COUNTER - Buyer can counter a seller offer.

FUN-BUYER-RENEGOTIATE - Buyer can renegotiate after an inspection or appraisal.

FUN-BUYER-ACCEPT - Buyer can accept a seller counter offer.

FUN-BUYER-APPLY-MORTGAGE - Buyer can apply for mortgage.

FUN-BUYER-APPRAISE - Buyer can have house appraised.

FUN-WIN - The player wins if they make an offer on a house which is accepted, then they receive a mortgage and the house appraises at or higher than the purchase price.

FUN-LOSE - The player loses if they do not have an accepted offer, do not receive a mortgage, or if the house does not appraise at purchase price.





